body {
    margin-left: 5%;
    margin-right: 5%;
    background-size: 100%;
    background-image: url(/assets/images/v627-aew-20-technologybackground.jpg);
    background-attachment: fixed; /* makes background image not move */
}

header {
    display: flex; /* creates the ability for emelments to be 
    more flexible within the header */
    justify-content: space-between; /* adds space between h1 and links*/
    align-items: center; /* centered all itens in header down the y axis */
    padding: 30px; /* created space inside the header box and made it bigger */
    background-color: black;
}

h1 {
    color: #2C3C8E;
}

nav ul {
    list-style: none; /* removes bullet points from list items */
    display: flex; /* allows list items to sit on x axis next to each other rather
    than stacked on top of each other */
}

nav li {
    margin-right: 40px; /* creates space between list items */
}

nav a {
    text-decoration: none; /* removes undelines from list items */
    font-size: x-large; /* sets font size to x-large */
}

.trasnparent-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    border-radius: 50%; /* gives img circular shape */
    height: 200px;
    width: 200px;
}

.name {
    color: white;
    font-size: 36px;

}

.container {
 display: inline-flex;
 flex-wrap: wrap;
 background-color: #edf3f0;
 padding: 5%;
 
}

section h2 {
    font-size: 42px;
    text-align: end;
    margin-right: 20px;
}

.page-section {
    border-right: 3px solid green;
    width: 16%;
    height: 200px;
    margin: 10px;
    
}

.text {
    border: 3px solid purple;
    width: 80%;
    margin: 10px;
    text-align: center;
    font-size: 22px;
}

